<!DOCTYPE html>
<html>
<head>
<title>Discovery Feed</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="http://www.nationalarchives.gov.uk/wp-content/plugins/tna-forms/css/tna-forms.css?ver=1.4.2">
    <link rel="stylesheet" href="http://www.nationalarchives.gov.uk/wp-content/themes/tna-base/css/base-sass.css.min?ver=1.11">
</head>
<body>
<div class="container">
{{#if success_msg}}
    <div class="" role="alert">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="emphasis-block error-message" role="alert">
        <p class="h3">Sorry, there was a problem</p>
        <p>{{error_msg}}</p></div>
        <p>{{error}}</p></div>
{{/if}}

{{#if error}}
    <div class="emphasis-block error-message" role="alert">
        <p class="h3">Sorry, there was a problem</p>
        <p>{{error}}</p>
    </div>
{{/if}}

<img src="/tna-logo.png" class="centre-image">

<ul>
    <li>
       {{#if user}}
        <a href="/">Home</a> | <a href="/feed/subscriptions">My Subscriptions</a> | <a href="/users/logout">Logout</a>

    {{else}}
        <a href="/users/login">Login</a> |
       <a href="/users/register">Register</a>
    {{/if}}
    </li>

</ul>
{{{body}}}
</div>
</body>
</html>