<!DOCTYPE html>
<html>
<head>
<title>Discovery Feed</title>
</head>
<body>

{{#if success_msg}}
    <div class="" role="alert">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="emphasis-block error-message" role="alert">
        <p class="h3">Sorry, there was a problem</p>
        <p>{{error_msg}}</p></div>
        <p>{{error}}</p></div>
{{/if}}

{{#if error}}
    <div class="emphasis-block error-message" role="alert">
        <p class="h3">Sorry, there was a problem</p>
        <p>{{error}}</p>
    </div>
{{/if}}

<ul>

    {{#if user}}
        <li><a href="/">Home</a></li>
        <li><a href="/feed/options">Options</a></li>
        <li><a href="/users/logout">Logout</a></li>

    {{else}}
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>

    {{/if}}

</ul>
{{{body}}}
</body>
</html>