<script src="../jquery-3.3.1.min.js"></script>
<script src="../subscription_jquery.js"></script>

<h1>My Subscriptions</h1>

You will receive daily emails if any newly opened records match your subscription criteria.
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <h2 id="department-h2">Department Subscriptions</h2>
            <input type="text" id="department-search" class="subscription-search-box" placeholder="Filter departments..."/>
            <form action="/feed/subscriptions/departments" method="post">
                <div class="form-department-checkboxes">
                    <ul id="department-ul">
                        <h3>Subscribed</h3>
                        <hr/>
                        {{#each subscription}}
                            {{#if this}}
                                <div class="form-row">
                                    <input type="checkbox" class="checkbox-subscribed" name="{{@key}}"
                                           checked/> <strong> <span class="department-name">{{get_long_department_name @key}}</span></strong>
                                </div>
                            {{/if}}
                        {{/each}}
                        <h3>Not subscribed</h3>
                        <hr/>
                        {{#each subscription}}
                            {{#unless this}}
                                <div class="form-row">
                                    <input type="checkbox" class="checkbox-unsubscribed" name="{{@key}}"/>
                                    <span class="department-name">{{get_long_department_name @key}}</span>
                                </div>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
                <input type="submit" value="Update Department Subscriptions"/>
            </form>
        </div>
        <div class="col-md-4">
            <h2 id="taxonomy-h2">Taxonomy Subscriptions</h2>
            <input type="text" id="taxonomy-search" class="subscription-search-box" placeholder="Filter taxonomies..."/>
            <form action="/feed/subscriptions/taxonomies" method="post">
                <div class="form-department-checkboxes">
                    <ul id="taxonomy-ul">
                        <h3>Subscribed</h3>
                        <hr/>
                        {{#each taxonomy}}
                            {{#if this}}
                                <div class="form-row">
                                    <input type="checkbox" class="checkbox-subscribed" name="{{@key}}"
                                           checked/> <strong><span class="taxonomy-name">{{@key}}</span></strong>
                                </div>
                            {{/if}}
                        {{/each}}
                        <h3>Not subscribed</h3>
                        <hr/>
                        {{#each taxonomy}}
                            {{#unless this}}
                                <div class="form-row">
                                    <input type="checkbox" class="checkbox-unsubscribed" name="{{@key}}"/>
                                    <span class="taxonomy-name">{{@key}}</span>
                                </div>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
                <input type="submit" value="Update Taxonomy Subscriptions" id="update-taxonomies"/>
            </form>
        </div>
        <div class="col-md-4">
            <h2 id="keyword-h2">Keyword Subscriptions</h2>
            <input type="text" id="keyword-search" class="subscription-search-box" placeholder="Filter keywords..."/>
            <div id="keyword-box">

                {{#each keyword}}
                    <form action="/feed/subscriptions/keywords/delete" method="post">
                        <div class="form-row">
                            <strong><span class="keyword-name">{{this}}</span></strong>
                            <input type="hidden" value="{{@key}}" name="keyword"/>
                            <input type="submit" value="Delete"/>
                        </div>
                    </form>
                {{/each}}
            </div>
            <form action="/feed/subscriptions/keywords" method="post">
                <div class="form-row">
                    <label for="keyword">Add new keyword</label> <input type="text" name="keyword" maxlength="50"/>
                    <input type="submit" value="Add"/>
                </div>
            </form>
        </div>

    </div>

</div>

